f2
[{"id":"b47b6372.568fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"74e8ba63.9f3184","type":"inject","z":"b47b6372.568fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":760,"wires":[["db725c2f.cc601"]]},{"id":"db725c2f.cc601","type":"function","z":"b47b6372.568fe","name":"Payload","func":"msg.headers={\n    deviceKey: \"9JtVjRstNTB5dj0l\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":880,"wires":[["ee8fc5eb.dff838","c26fae67.b430e"]]},{"id":"ee8fc5eb.dff838","type":"http request","z":"b47b6372.568fe","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DJViPH0j/datachannels/Temperature/datapoints.csv","tls":"","x":590,"y":960,"wires":[["635d68ac.0c70f8","b308948d.5e5d38"]]},{"id":"b308948d.5e5d38","type":"http response","z":"b47b6372.568fe","name":"","statusCode":"","headers":{},"x":770,"y":1020,"wires":[]},{"id":"635d68ac.0c70f8","type":"debug","z":"b47b6372.568fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":940,"wires":[]},{"id":"c26fae67.b430e","type":"http request","z":"b47b6372.568fe","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DJViPH0j/datachannels/Humidity/datapoints.csv","tls":"","x":590,"y":800,"wires":[["1064ec19.c102c4","38b5a0ae.b8a56"]]},{"id":"1064ec19.c102c4","type":"debug","z":"b47b6372.568fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":720,"wires":[]},{"id":"38b5a0ae.b8a56","type":"http response","z":"b47b6372.568fe","name":"","statusCode":"","headers":{},"x":750,"y":820,"wires":[]}]
