f3
[{"id":"5c97b277.9acaec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"da3dcddf.a22a4","type":"inject","z":"5c97b277.9acaec","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["4e18f992.6a6d48"]]},
{"id":"4e18f992.6a6d48","type":"function","z":"5c97b277.9acaec","name":"Payload","func":"msg.headers={\n    deviceKey: \"9JtVjRstNTB5dj0l\"\n};\nmsg.payload= \"Temperature,,10.28\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["72e0275d.181ee8"]]},{"id":"72e0275d.181ee8","type":"http request","z":"5c97b277.9acaec","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DJViPH0j/datapoints.csv","tls":"","x":510,"y":260,"wires":[["153cfc89.688d93","c6a3488d.28c678"]]},{"id":"153cfc89.688d93","type":"http response","z":"5c97b277.9acaec","name":"","statusCode":"","headers":{},"x":720,"y":280,"wires":[]},{"id":"c6a3488d.28c678","type":"debug","z":"5c97b277.9acaec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]}]
