f4
[{"id":"5715594b.958568","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6daea959.b63cc8","type":"http in","z":"5715594b.958568","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":230,"y":200,"wires":[["634b9146.f05a8"]]},{"id":"b962b656.fb1748","type":"rpi-gpio in","z":"5715594b.958568","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":230,"y":400,"wires":[["5a1a4e00.272604"]]},
{"id":"634b9146.f05a8","type":"function","z":"5715594b.958568","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["2a815347.5a74dc","7ea92ae5.99ebb4"]]},{"id":"7ea92ae5.99ebb4","type":"debug","z":"5715594b.958568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"2a815347.5a74dc","type":"http response","z":"5715594b.958568","name":"","statusCode":"","headers":{},"x":710,"y":220,"wires":[]},{"id":"5a1a4e00.272604","type":"function","z":"5715594b.958568","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["7ea92ae5.99ebb4"]]}]
