f5
[{"id":"d429010e.0151a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9a58c94a.12ec18","type":"http in","z":"d429010e.0151a","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["31ef1ab8.ed6086","e34b3f1.aa22cc"]]},{"id":"31ef1ab8.ed6086","type":"function","z":"d429010e.0151a","name":"Set to 1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["9d5e0a2e.b4d518"]]},{"id":"9d5e0a2e.b4d518","type":"rpi-gpio out","z":"d429010e.0151a","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":380,"wires":[]},{"id":"e34b3f1.aa22cc","type":"function","z":"d429010e.0151a","name":"Return Status","func":"msg.payload = \"GPIO set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["50a81738.1348f8","b2f0f7e7.b53d88"]]},{"id":"50a81738.1348f8","type":"http response","z":"d429010e.0151a","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"b2f0f7e7.b53d88","type":"debug","z":"d429010e.0151a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":460,"wires":[]},
{"id":"2addede8.0d4de2","type":"http in","z":"d429010e.0151a","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["8895e9fb.cf9c78","86b559ad.d47d38"]]},{"id":"8895e9fb.cf9c78","type":"function","z":"d429010e.0151a","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["9d5e0a2e.b4d518"]]},{"id":"86b559ad.d47d38","type":"function","z":"d429010e.0151a","name":"Retuen Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["50a81738.1348f8","b2f0f7e7.b53d88"]]}]
